<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">

{%- liquid
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy

  assign heading = section.settings.heading
  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_color = section.settings.heading_color
  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_height = section.settings.heading_height
  assign heading_align = section.settings.heading_align
  assign heading_align_mobile = section.settings.heading_align_mobile

  assign slider_view = section.settings.slider_view
  assign slider_view_mobile = section.settings.slider_view_mobile
  assign slider_gap = section.settings.slider_gap
  assign slider_gap_mobile = section.settings.slider_gap_mobile
  assign slider_mt = section.settings.slider_mt

  assign card_radius = section.settings.card_radius
  assign card_border_thickness = section.settings.card_border_thickness
  assign card_border_color = section.settings.card_border_color
  assign card_bg_color = section.settings.card_bg_color
  assign card_shadow = section.settings.card_shadow
  assign card_shadow_color = section.settings.card_shadow_color

  assign video_ratio = section.settings.video_ratio
  assign video_ratio_mobile = section.settings.video_ratio_mobile
  assign video_overlay = section.settings.video_overlay
  assign video_overlay_color = section.settings.video_overlay_color

  assign button = section.settings.button
  assign button_soldout = section.settings.button_soldout
  assign button_size = section.settings.button_size
  assign button_size_mobile = section.settings.button_size_mobile
  assign button_color = section.settings.button_color
  assign button_hover_color = section.settings.button_hover_color
  assign button_custom = section.settings.button_custom
  assign button_font = section.settings.button_font
  assign button_height = section.settings.button_height
  assign button_padding_vertical = section.settings.button_padding_vertical
  assign button_padding_vertical_mobile = section.settings.button_padding_vertical_mobile
  assign button_padding_horizontal = section.settings.button_padding_horizontal
  assign button_padding_horizontal_mobile = section.settings.button_padding_horizontal_mobile
  assign button_bg_color = section.settings.button_bg_color
  assign button_bg_hover_color = section.settings.button_bg_hover_color

  assign redirect_after_adding = section.settings.redirect_after_adding

  assign image_border_color = section.settings.image_border_color
  assign image_border_thickness = section.settings.image_border_thickness
  assign image_radius = section.settings.image_radius
  assign image_width = section.settings.image_width
  assign image_width_mobile = section.settings.image_width_mobile

  assign title_size = section.settings.title_size
  assign title_size_mobile = section.settings.title_size_mobile
  assign title_color = section.settings.title_color
  assign title_custom = section.settings.title_custom
  assign title_font = section.settings.title_font
  assign title_height = section.settings.title_height
  assign title_uppercase = section.settings.title_uppercase

  assign price_size = section.settings.price_size
  assign price_size_mobile = section.settings.price_size_mobile
  assign price_color = section.settings.price_color
  assign price_custom = section.settings.price_custom
  assign price_font = section.settings.price_font
  assign price_height = section.settings.price_height
-%}

{%- style -%}
  {{ heading_font | font_face: font_display: 'swap' }}
  {{ button_font | font_face: font_display: 'swap' }}
  {{ title_font | font_face: font_display: 'swap' }}
  {{ price_font | font_face: font_display: 'swap' }}

  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .video-heading-wrap-{{ section.id }} {
  width: 100%;
  border-bottom: 1px solid rgba(18, 18, 18, 0.18);
  margin-bottom: 28px;

  padding-left: 24px;
  box-sizing: border-box;
}

.video-heading-{{ section.id }} {
  display: inline-block;
  text-align: {{ heading_align_mobile }};
  border-bottom: 2px solid {{ heading_color }};
  margin-bottom: -1px;
  padding-bottom: 10px;
}

.video-heading-{{ section.id }} * {
  margin: 0;
  font-size: {{ heading_size_mobile }}px;
  color: {{ heading_color }};
  line-height: {{ heading_height }}%;
  text-transform: unset;
}

  .video-slider-{{ section.id }} {
  margin-left: -{{ padding_horizontal_mobile }}rem !important;
  margin-right: -{{ padding_horizontal_mobile }}rem !important;
  padding-left: {{ padding_horizontal_mobile }}rem !important;
  padding-right: {{ padding_horizontal_mobile }}rem !important;
  margin-top: {{ slider_mt | times: 0.75 | round: 0 }}px;
}

  .video-slider-{{ section.id }} .swiper-wrapper {
    align-items: stretch !important;
  }

  .video-slide-{{ section.id }} {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: {{ card_radius }}px;
    border: {{ card_border_thickness }}px solid {{ card_border_color }};
    background-color: {{ card_bg_color }};
    box-sizing: border-box !important;
    height: auto !important;
    text-decoration: none;
    overflow: hidden;
  }

  .video-top-{{ section.id }} {
    overflow: hidden;
    position: relative;
    z-index: 0;
    cursor: default;
    background-color: #dcdcdc;
  }

  .video-top-{{ section.id }}::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: {{ video_overlay_color | hex_to_rgba: video_overlay }};
    pointer-events: none;
  }

  .video-top-{{ section.id }} video,
  .video-top-{{ section.id }} iframe {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-shadow: none;
    border: 0;
    pointer-events: none;
  }

  .video-bottom-{{ section.id }} {
    display: flex;
    align-items: stretch;
    flex: 1 1 0;
  }

  .video-bottom-{{ section.id }} .form {
    flex: 1 1 100%;
  }

  .video-add-{{ section.id }} {
    width: 100%;
    min-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: {{ button_size_mobile }}px;
    color: {{ button_color }};
    line-height: {{ button_height }}%;
    text-align: center;
    text-transform: unset;
    text-decoration: none;
    padding: {{ button_padding_vertical_mobile }}px {{ button_padding_horizontal_mobile }}px;
    background-color: {{ button_bg_color }};
    border: 0;
    transition: all 0.25s ease 0s;
    position: relative;
    z-index: 2;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
  }

  .video-add-{{ section.id }}:hover {
    color: {{ button_hover_color }};
    background-color: {{ button_bg_hover_color }};
  }

  .video-product-{{ section.id }} {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
  }

  .video-product-image-{{ section.id }} {
    flex: 0 0 {{ image_width_mobile }}px;
    height: {{ image_width_mobile }}px;
    border-radius: {{ image_radius }}px;
    border: {{ image_border_thickness }}px solid {{ image_border_color }};
    overflow: hidden;
  }

  .video-product-image-{{ section.id }} img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .video-product-title-{{ section.id }} {
    margin: 0;
    font-size: {{ title_size_mobile }}px;
    color: #ffffff !important;
    line-height: {{ title_height }}%;
    text-transform: unset;
  }

  .video-product-price-{{ section.id }} {
    margin: 3px 0 0 0;
    font-size: {{ price_size_mobile }}px;
    color: #ffffff !important;
    line-height: {{ price_height }}%;
    text-transform: uppercase;
  }

  .video-arrow-{{ section.id }},
  .video-variants-{{ section.id }},
  .video-modal-{{ section.id }} {
    display: none !important;
  }
.video-slider-{{ section.id }} {
  cursor: grab;
}

.video-slider-{{ section.id }} .swiper-wrapper {
  will-change: transform;
}
  @media(min-width: 1024px) {
    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
    }

    .section-{{ section.id }}-settings {
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .video-heading-{{ section.id }} {
  text-align: {{ heading_align }};
}

.video-heading-{{ section.id }} * {
  font-size: {{ heading_size }}px;
}

.video-heading-wrap-{{ section.id }} {
  margin-bottom: 36px;
}
.video-heading-wrap-{{ section.id }} {
  padding-left: 24px;
}
}

    .video-slider-{{ section.id }} {
      margin-left: 0 !important;
      margin-right: 0 !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin-top: {{ slider_mt }}px;
    }

    .video-add-{{ section.id }} {
      font-size: {{ button_size }}px;
      padding: {{ button_padding_vertical }}px {{ button_padding_horizontal }}px;
    }

    .video-product-image-{{ section.id }} {
      flex: 0 0 {{ image_width }}px;
      height: {{ image_width }}px;
    }

    .video-product-title-{{ section.id }} {
      font-size: {{ title_size }}px;
    }

    .video-product-price-{{ section.id }} {
      font-size: {{ price_size }}px;
    }
  }

     @media(min-width: 1024px) and (max-width: 1399px) {
  .video-slider-{{ section.id }} {
    overflow: hidden !important;
    width: 100%;
  }

  .video-slider-{{ section.id }} .swiper-wrapper {
    display: flex !important;
    flex-wrap: nowrap !important;
  }

  .video-slider-{{ section.id }} .swiper-slide,
  .video-slide-{{ section.id }} {
    width: 280px !important;
    min-width: 280px !important;
    max-width: 280px !important;
    flex: 0 0 280px !important;
  }

  .video-top-{{ section.id }} {
    aspect-ratio: 9.6 / 16 !important;
    height: auto !important;
    max-height: none !important;
  }

  .video-slide-{{ section.id }} {
    height: auto !important;
  }
}

@media(min-width: 1024px) and (max-width: 1399px) {
  .video-slider-{{ section.id }} {
    overflow: hidden !important;
    width: 100%;
  }

  .video-slider-{{ section.id }} .swiper-wrapper {
    display: flex !important;
    flex-wrap: nowrap !important;
  }

  .video-slider-{{ section.id }} .swiper-slide,
  .video-slide-{{ section.id }} {
    width: 280px !important;
    min-width: 280px !important;
    max-width: 280px !important;
    flex: 0 0 280px !important;
  }

  .video-top-{{ section.id }} {
    aspect-ratio: 9.6 / 16 !important;
    height: auto !important;
    max-height: none !important;
  }

  .video-slide-{{ section.id }} {
    height: auto !important;
  }
}
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}px;
    }
  </style>
{% endunless %}

{% if heading_custom %}
  <style>
    .video-heading-{{ section.id }} * {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if button_custom %}
  <style>
    .video-add-{{ section.id }} {
      font-family: {{ button_font.family }}, {{ button_font.fallback_families }};
      font-weight: {{ button_font.weight }};
      font-style: {{ button_font.style }};
    }
  </style>
{% endif %}

{% if title_custom %}
  <style>
    .video-product-title-{{ section.id }} {
      font-family: {{ title_font.family }}, {{ title_font.fallback_families }};
      font-weight: {{ title_font.weight }};
      font-style: {{ title_font.style }};
    }
  </style>
{% endif %}

{% if price_custom %}
  <style>
    .video-product-price-{{ section.id }} {
      font-family: {{ price_font.family }}, {{ price_font.fallback_families }};
      font-weight: {{ price_font.weight }};
      font-style: {{ price_font.style }};
    }
  </style>
{% endif %}

{% if card_shadow %}
  <style>
    .video-slide-{{ section.id }} {
      box-shadow: 0 0 10px {{ card_shadow_color | hex_to_rgba: 0.25 }} !important;
    }

    .video-slider-{{ section.id }} {
      padding: 10px !important;
    }
  </style>
{% endif %}

{% if video_ratio_mobile == 'portrait' %}
  <style>
    .video-top-{{ section.id }} { aspect-ratio: 9.6/16; }
  </style>
{% elsif video_ratio_mobile == 'landscape' %}
  <style>
    .video-top-{{ section.id }} { aspect-ratio: 12/7; }
  </style>
{% elsif video_ratio_mobile == 'square' %}
  <style>
    .video-top-{{ section.id }} { aspect-ratio: 12/12; }
  </style>
{% endif %}

{% if video_ratio == 'portrait' %}
  <style>
    @media(min-width: 1400px) {
      .video-top-{{ section.id }} { aspect-ratio: 9.6/16; }
    }
  </style>
{% elsif video_ratio == 'landscape' %}
  <style>
    @media(min-width: 1400px) {
      .video-top-{{ section.id }} { aspect-ratio: 12/7; }
    }
  </style>
{% elsif video_ratio == 'square' %}
  <style>
    @media(min-width: 1400px) {
      .video-top-{{ section.id }} { aspect-ratio: 12/12; }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1400px) {
      .video-top-{{ section.id }} { aspect-ratio: auto; }
    }
  </style>
{% endif %}

{% comment %} PREVIEW {% endcomment %}
<style>
  .video-slider-{{ section.id }}.preview .swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    gap: {{ slider_gap }}px;
  }

  .video-slider-{{ section.id }}.preview .video-slide-{{ section.id }} {
    width: 100%;
  }

      @media(min-width: 1024px) and (max-width: 1399px) {
    .video-slider-{{ section.id }}.preview {
  overflow: hidden;
  width: 100%;
}

    .video-slider-{{ section.id }}.preview .swiper-wrapper {
      display: flex;
      flex-wrap: nowrap;
    }

    .video-slider-{{ section.id }}.preview .video-slide-{{ section.id }} {
      width: 280px;
      min-width: 280px;
      max-width: 280px;
      flex: 0 0 280px;
    }

    .video-slider-{{ section.id }}.preview .video-slide-{{ section.id }}:not(:first-child) {
      margin-left: {{ slider_gap }}px;
    }
  }

  @media(min-width: 1400px) {
    .video-slider-{{ section.id }}.preview .video-slide-{{ section.id }} {
      width: calc(20% - {{ slider_gap }}px);
      min-width: 0;
      max-width: none;
      flex: 0 0 calc(20% - {{ slider_gap }}px);
    }

    .video-slider-{{ section.id }}.preview .video-slide-{{ section.id }}:not(:first-child) {
      margin-left: {{ slider_gap }}px;
    }
  }
</style>

<div
  class="section-{{ section.id }} video-{{ section.id }}"
  style="background-color:{{ background_color }}; background-image: {{ background_gradient }};"
>
  <div class="section-{{ section.id }}-settings">
    {% if heading != blank %}
  <div class="video-heading-wrap-{{ section.id }}">
    <div class="video-heading-{{ section.id }}">{{ heading }}</div>
  </div>
{% endif %}

    <div
      class="video-slider-{{ section.id }} swiper preview"
      data-gap="{{ slider_gap }}"
      data-gap-mobile="{{ slider_gap_mobile }}"
      data-view="{{ slider_view }}"
      data-view-mobile="{{ slider_view_mobile }}"
    >
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="video-slide-{{ section.id }} swiper-slide">
            <div class="video-top-{{ section.id }}">
              {% assign video_id = block.settings.video.id | default: block.settings.video_url.id %}

              {%- if block.settings.video == null and block.settings.video_url != null -%}
                {% assign loop = '&loop=1&playlist=' | append: video_id %}

                {%- if block.settings.video_url.type == 'youtube' -%}
                  <iframe
                    {% if lazy %}data-{% endif -%}
                    src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&mute=1&playsinline=1&autoplay={% if block.settings.autoplay %}1{% else %}0{% endif %}&controls=0{{ loop }}"
                    class="lazy"
                    allow="autoplay; encrypted-media"
                    allowfullscreen
                    {% if lazy %}loading="lazy"{% endif %}
                    title="Video"
                  ></iframe>
                {%- else -%}
                  <iframe
                    {% if lazy %}data-{% endif -%}
                    src="https://player.vimeo.com/video/{{ video_id }}?muted=1&background=1&autoplay={% if block.settings.autoplay %}1{% else %}0{% endif %}{{ loop }}"
                    class="lazy"
                    allow="autoplay; encrypted-media"
                    allowfullscreen
                    {% if lazy %}loading="lazy"{% endif %}
                    title="Video"
                  ></iframe>
                {% endif %}
              {% else %}
                {% assign poster_url = block.settings.poster | image_url %}
                {% assign placeholder_video = 'https://cdn.shopify.com/videos/c/o/v/fbb140fd46e3429eba459e1549dbbe38.mp4' %}
                <video
                  {% if lazy %}data-{% endif -%}
                  src="{% if block.settings.video != blank %}{{ block.settings.video.sources[1].url }}{% else %}{{ placeholder_video }}{% endif %}"
                  muted
                  defaultMuted
                  playsinline
                  {% if block.settings.autoplay %}autoplay{% endif %}
                  preload="none"
                  loop
                  class="lazy"
                  poster="{{ poster_url }}"
                ></video>
              {% endif %}

              {% if block.settings.product != blank %}
                <div class="video-product-{{ section.id }}">
                  <div class="video-product-image-{{ section.id }}">
                    {% if block.settings.product.selected_or_first_available_variant.featured_image != blank %}
                      <img
                        src="{{ block.settings.product.selected_or_first_available_variant.featured_image | image_url }}"
                        alt="{{ block.settings.product.selected_or_first_available_variant.featured_image.alt }}"
                        {% if lazy %}loading="lazy"{% endif %}
                      >
                    {% else %}
                      <img
                        src="{{ block.settings.product.featured_image | image_url }}"
                        alt="{{ block.settings.product.featured_image.alt }}"
                        {% if lazy %}loading="lazy"{% endif %}
                      >
                    {% endif %}
                  </div>

                  <div class="video-product-info-{{ section.id }}">
                    <p class="video-product-title-{{ section.id }}">{{ block.settings.product.title }}</p>
                    <p class="video-product-price-{{ section.id }}">
                      {{ block.settings.product.price | money }}
                    </p>
                  </div>
                </div>
              {% endif %}
            </div>

            <div class="video-bottom-{{ section.id }}">
              {%- assign product_form_id = 'product-form-' | append: block.id -%}

              {% if block.settings.product != blank %}
                {%- form 'product',
                  block.settings.product,
                  id: product_form_id,
                  class: 'form shoppable-form',
                  novalidate: 'novalidate'
                -%}
                  <input
                    type="hidden"
                    name="id"
                    value="{{ block.settings.product.selected_or_first_available_variant.id }}"
                  >

                  <button
                    type="submit"
                    class="video-add-{{ section.id }}"
                    {% unless block.settings.product.selected_or_first_available_variant.available %}
                      disabled
                    {% endunless %}
                  >
                    {% if block.settings.product.selected_or_first_available_variant.available %}
                      {{ button }}
                    {% else %}
                      {{ button_soldout }}
                    {% endif %}
                  </button>
                {%- endform -%}
              {% else %}
                <div class="form">
                  <button class="video-add-{{ section.id }}" type="button" disabled>{{ button }}</button>
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% if lazy %}
  <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@19.1.3/dist/lazyload.min.js"></script>
{% endif %}

<script>
  function loadSwiper(callback) {
    if (window.Swiper) {
      callback();
    } else {
      const script = document.createElement('script');
      script.src = 'https://cdn.jsdelivr.net/npm/swiper@8.4.7/swiper-bundle.min.js';
      script.onload = callback;
      document.head.appendChild(script);
    }
  }

  async function addToCart(form) {
    const response = await fetch('/cart/add.js', {
      method: 'POST',
      body: new FormData(form)
    });

    if (!response.ok) {
      throw new Error('Add to cart failed');
    }

    return response.json();
  }

  async function getCart() {
    const response = await fetch('/cart.js');
    return response.json();
  }

  function updateCartBubble(itemCount) {
    const bubbleSpan = document.querySelector('.cart-count-bubble span[aria-hidden="true"]');
    if (bubbleSpan) {
      bubbleSpan.textContent = itemCount;
      return;
    }

    const headerCart = document.querySelector('#cart-icon-bubble');
    if (!headerCart) return;

    const existingBubble = headerCart.querySelector('.cart-count-bubble');
    if (existingBubble) {
      const span = existingBubble.querySelector('span[aria-hidden="true"]');
      if (span) span.textContent = itemCount;
      return;
    }

    const cartCountBubble = document.createElement('div');
    cartCountBubble.className = 'cart-count-bubble';
    cartCountBubble.innerHTML = '<span aria-hidden="true">' + itemCount + '</span><span class="visually-hidden">' + itemCount + ' items</span>';
    headerCart.appendChild(cartCountBubble);
  }

  function initShoppableVideo(sectionId) {
    const section = document.querySelector('.video-' + sectionId);
    if (!section) return;

    const sliderEl = section.querySelector('.video-slider-' + sectionId);
    if (!sliderEl) return;

    section.querySelectorAll('video').forEach((video) => {
      video.muted = true;
      video.defaultMuted = true;
      video.volume = 0;
      video.setAttribute('muted', '');
    });

    sliderEl.classList.remove('preview');

       new Swiper('.video-slider-' + sectionId, {
  speed: 300,
  watchOverflow: true,
  watchSlidesProgress: true,
  freeMode: true,
  centeredSlides: false,
  loop: false,
  grabCursor: true,
  simulateTouch: true,
  touchStartPreventDefault: false,
  nested: true,
  mousewheel: {
    forceToAxis: true,
    releaseOnEdges: true
  },
  breakpoints: {
    320: {
      spaceBetween: parseInt(sliderEl.dataset.gapMobile || 0, 10),
      slidesPerView: parseFloat(sliderEl.dataset.viewMobile)
    },
    768: {
      spaceBetween: parseInt(sliderEl.dataset.gapMobile || 0, 10),
      slidesPerView: parseFloat(sliderEl.dataset.viewMobile)
    },
    1024: {
      spaceBetween: parseInt(sliderEl.dataset.gap || 0, 10),
      slidesPerView: 'auto'
    },
    1400: {
      spaceBetween: parseInt(sliderEl.dataset.gap || 0, 10),
      slidesPerView: 5
    }
  }
});

    section.querySelectorAll('.shoppable-form').forEach((form) => {
      form.addEventListener('submit', async (e) => {
        e.preventDefault();

        const button = form.querySelector('button[type="submit"]');
        if (!button || button.disabled) return;

        const originalText = button.textContent;
        button.disabled = true;

        try {
          await addToCart(form);
          const cart = await getCart();
          updateCartBubble(cart.item_count);
          button.textContent = 'Added';

          {% if redirect_after_adding %}
            window.location.href = '{{ shop.url }}/cart';
            return;
          {% endif %}

          setTimeout(() => {
            button.textContent = originalText;
            button.disabled = false;
          }, 1500);
        } catch (error) {
          console.error(error);
          button.textContent = originalText;
          button.disabled = false;
        }
      });
    });

    {% if lazy %}
      new LazyLoad();
    {% endif %}
  }

  function initializeAllShoppableVideoSections() {
    const sections = document.querySelectorAll('[id^="shopify-section-"]');

    sections.forEach((section) => {
      const shoppable = section.querySelector('[class*="video-"]');
      if (!shoppable) return;

      const sectionId = section.id.replace('shopify-section-', '');
      loadSwiper(() => initShoppableVideo(sectionId));
    });
  }

  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', initializeAllShoppableVideoSections);
  } else {
    initializeAllShoppableVideoSections();
  }

  if (window.Shopify && Shopify.designMode) {
    document.addEventListener('shopify:section:load', (event) => {
      const sectionId = event.detail.sectionId;
      loadSwiper(() => initShoppableVideo(sectionId));
    });
  }
</script>

{% schema %}
{
  "name": "SS - Shoppable video",
  "settings": [
    {
      "type": "paragraph",
      "content": "⚠️ Save settings to see section in action"
    },
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Text",
      "default": "<h2>WHAT OUR FELLOWS THINK</h2>"
    },
    {
      "type": "checkbox",
      "id": "heading_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "heading_font",
      "label": "Font family",
      "default": "josefin_sans_n4",
      "visible_if": "{{ section.settings.heading_custom }}"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 28
    },
    {
      "type": "range",
      "id": "heading_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 28
    },
    {
      "type": "range",
      "id": "heading_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "select",
      "id": "heading_align",
      "label": "Alignment",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_align_mobile",
      "label": "Alignment - mobile",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Slider"
    },
    {
      "type": "range",
      "id": "slider_view",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Slides per view",
      "default": 5
    },
    {
      "type": "range",
      "id": "slider_view_mobile",
      "min": 1,
      "max": 3,
      "step": 0.1,
      "label": "Slides per view - mobile",
      "default": 1.3
    },
    {
      "type": "range",
      "id": "slider_gap",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap",
      "default": 16
    },
    {
      "type": "range",
      "id": "slider_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap - mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "slider_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 20
    },
    {
      "type": "header",
      "content": "Slide"
    },
    {
      "type": "range",
      "id": "card_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 10
    },
    {
      "type": "range",
      "id": "card_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "card_shadow",
      "label": "Use shadow",
      "default": true
    },
    {
      "type": "header",
      "content": "Video"
    },
    {
      "type": "select",
      "id": "video_ratio",
      "label": "Aspect ratio",
      "default": "portrait",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        },
        {
          "label": "Original",
          "value": "original"
        }
      ]
    },
    {
      "type": "select",
      "id": "video_ratio_mobile",
      "label": "Aspect ratio - mobile",
      "default": "portrait",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        },
        {
          "label": "Original",
          "value": "original"
        }
      ]
    },
    {
      "type": "range",
      "id": "video_overlay",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "label": "Overlay",
      "default": 0.2
    },
    {
      "type": "header",
      "content": "Product image"
    },
    {
      "type": "range",
      "id": "image_width",
      "min": 20,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Width",
      "default": 44
    },
    {
      "type": "range",
      "id": "image_width_mobile",
      "min": 20,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Width - mobile",
      "default": 44
    },
    {
      "type": "range",
      "id": "image_radius",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 6
    },
    {
      "type": "range",
      "id": "image_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "header",
      "content": "Product title"
    },
    {
      "type": "checkbox",
      "id": "title_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "title_font",
      "label": "Font family",
      "default": "josefin_sans_n4",
      "visible_if": "{{ section.settings.title_custom }}"
    },
    {
      "type": "range",
      "id": "title_size",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 14
    },
    {
      "type": "range",
      "id": "title_size_mobile",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "title_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "checkbox",
      "id": "title_uppercase",
      "label": "Uppercase",
      "default": false
    },
    {
      "type": "header",
      "content": "Product price"
    },
    {
      "type": "checkbox",
      "id": "price_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "price_font",
      "label": "Font family",
      "default": "josefin_sans_n4",
      "visible_if": "{{ section.settings.price_custom }}"
    },
    {
      "type": "range",
      "id": "price_size",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 14
    },
    {
      "type": "range",
      "id": "price_size_mobile",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "price_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "header",
      "content": "Add to cart button"
    },
    {
      "type": "text",
      "id": "button",
      "label": "Add to cart button label",
      "default": "Add To Cart"
    },
    {
      "type": "text",
      "id": "button_soldout",
      "label": "Sold out button label",
      "default": "Sold Out"
    },
    {
      "type": "checkbox",
      "id": "button_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "button_font",
      "label": "Font family",
      "default": "josefin_sans_n4",
      "visible_if": "{{ section.settings.button_custom }}"
    },
    {
      "type": "range",
      "id": "button_size",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 16
    },
    {
      "type": "range",
      "id": "button_size_mobile",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "button_padding_vertical",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Padding vertical",
      "default": 10
    },
    {
      "type": "range",
      "id": "button_padding_vertical_mobile",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Padding vertical - mobile",
      "default": 10
    },
    {
      "type": "range",
      "id": "button_padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Padding horizontal",
      "default": 10
    },
    {
      "type": "range",
      "id": "button_padding_horizontal_mobile",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Padding horizontal - mobile",
      "default": 10
    },
    {
      "type": "checkbox",
      "id": "reload_after_adding",
      "label": "Reload page after add-to-cart",
      "info": "Some cart-drawers do not integrate well with add-to-cart functions",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "redirect_after_adding",
      "label": "Redirect to cart page after adding product to cart",
      "default": false
    },
    {
      "type": "header",
      "content": "Variants option"
    },
    {
      "type": "checkbox",
      "id": "option_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "option_font",
      "label": "Font family",
      "default": "josefin_sans_n4",
      "visible_if": "{{ section.settings.option_custom }}"
    },
    {
      "type": "range",
      "id": "option_size",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 12
    },
    {
      "type": "range",
      "id": "option_size_mobile",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 12
    },
    {
      "type": "range",
      "id": "option_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 100
    },
    {
      "type": "range",
      "id": "option_mt",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Space between option",
      "default": 24
    },
    {
      "type": "header",
      "content": "Variants price"
    },
    {
      "type": "checkbox",
      "id": "variants_price_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "variants_price_font",
      "label": "Font family",
      "default": "josefin_sans_n4",
      "visible_if": "{{ section.settings.variants_price_custom }}"
    },
    {
      "type": "range",
      "id": "variants_price_size",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 14
    },
    {
      "type": "range",
      "id": "variants_price_size_mobile",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 14
        },
    {
      "type": "range",
      "id": "variants_price_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "range",
      "id": "variants_price_mt",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 10
    },
    {
      "type": "select",
      "id": "variants_price_align",
      "label": "Alignment",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "select",
      "id": "variants_price_align_mobile",
      "label": "Alignment - mobile",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Modal"
    },
    {
      "type": "range",
      "id": "modal_width",
      "min": 200,
      "max": 1500,
      "step": 20,
      "unit": "px",
      "label": "Width",
      "default": 740
    },
    {
      "type": "range",
      "id": "modal_width_mobile",
      "min": 10,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Width - mobile",
      "default": 100
    },
    {
      "type": "range",
      "id": "modal_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 16
    },
    {
      "type": "range",
      "id": "modal_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "modal_overlay",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Overlay",
      "default": 50
    },
    {
      "type": "header",
      "content": "Modal close button"
    },
    {
      "type": "range",
      "id": "close_size",
      "min": 20,
      "max": 120,
      "step": 2,
      "unit": "px",
      "label": "Size",
      "default": 42
    },
    {
      "type": "range",
      "id": "close_size_mobile",
      "min": 20,
      "max": 120,
      "step": 2,
      "unit": "px",
      "label": "Size - mobile",
      "default": 42
    },
    {
      "type": "range",
      "id": "close_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 8
    },
    {
      "type": "range",
      "id": "close_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "header",
      "content": "Modal video"
    },
    {
      "type": "range",
      "id": "modal_video_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 0
    },
    {
      "type": "range",
      "id": "modal_video_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "select",
      "id": "modal_video_ratio",
      "label": "Aspect ratio",
      "default": "portrait",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        },
        {
          "label": "Original",
          "value": "original"
        }
      ]
    },
    {
      "type": "select",
      "id": "modal_video_ratio_mobile",
      "label": "Aspect ratio - mobile",
      "default": "portrait",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        },
        {
          "label": "Original",
          "value": "original"
        }
      ]
    },
    {
      "type": "header",
      "content": "Modal heading"
    },
    {
      "type": "checkbox",
      "id": "modal_heading_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "modal_heading_font",
      "label": "Font family",
      "default": "josefin_sans_n4",
      "visible_if": "{{ section.settings.modal_heading_custom }}"
    },
    {
      "type": "range",
      "id": "modal_heading_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 28
    },
    {
      "type": "range",
      "id": "modal_heading_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 28
    },
    {
      "type": "range",
      "id": "modal_heading_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "select",
      "id": "modal_heading_align",
      "label": "Alignment",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "select",
      "id": "modal_heading_align_mobile",
      "label": "Alignment - mobile",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Modal text"
    },
    {
      "type": "checkbox",
      "id": "modal_text_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "modal_text_font",
      "label": "Font family",
      "default": "josefin_sans_n4",
      "visible_if": "{{ section.settings.modal_text_custom }}"
    },
    {
      "type": "range",
      "id": "modal_text_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 16
    },
    {
      "type": "range",
      "id": "modal_text_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "modal_text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 150
    },
    {
      "type": "select",
      "id": "modal_text_align",
      "label": "Alignment",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "select",
      "id": "modal_text_align_mobile",
      "label": "Alignment - mobile",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "range",
      "id": "modal_text_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 16
    },
    {
      "type": "header",
      "content": "Modal product"
    },
    {
      "type": "checkbox",
      "id": "use_modal_product",
      "label": "Use product in modal",
      "default": true
    },
    {
      "type": "header",
      "content": "Modal product image",
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "range",
      "id": "modal_image_width",
      "min": 20,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Width",
      "default": 70,
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "range",
      "id": "modal_image_width_mobile",
      "min": 20,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Width - mobile",
      "default": 66,
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "range",
      "id": "modal_image_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 12,
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "range",
      "id": "modal_image_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0,
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "header",
      "content": "Modal product title",
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "checkbox",
      "id": "modal_title_custom",
      "label": "Use custom font",
      "default": false,
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "font_picker",
      "id": "modal_title_font",
      "label": "Font family",
      "default": "josefin_sans_n4",
      "visible_if": "{{ section.settings.use_modal_product and section.settings.modal_title_custom }}"
    },
    {
      "type": "range",
      "id": "modal_title_size",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 16,
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "range",
      "id": "modal_title_size_mobile",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 16,
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "range",
      "id": "modal_title_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130,
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "checkbox",
      "id": "modal_title_uppercase",
      "label": "Uppercase",
      "default": false,
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "header",
      "content": "Modal product price",
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "checkbox",
      "id": "modal_price_custom",
      "label": "Use custom font",
      "default": false,
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "font_picker",
      "id": "modal_price_font",
      "label": "Font family",
      "default": "josefin_sans_n4",
      "visible_if": "{{ section.settings.use_modal_product and section.settings.modal_price_custom }}"
    },
    {
      "type": "range",
      "id": "modal_price_size",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 14,
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "range",
      "id": "modal_price_size_mobile",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 14,
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "range",
      "id": "modal_price_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130,
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "header",
      "content": "Modal add to cart button",
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "text",
      "id": "modal_button",
      "label": "Add to cart button label",
      "default": "Add To Cart",
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "text",
      "id": "modal_button_soldout",
      "label": "Sold out button label",
      "default": "Sold Out",
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "checkbox",
      "id": "modal_button_custom",
      "label": "Use custom font",
      "default": false,
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "font_picker",
      "id": "modal_button_font",
      "label": "Font family",
      "default": "josefin_sans_n4",
      "visible_if": "{{ section.settings.use_modal_product and section.settings.modal_button_custom }}"
    },
    {
      "type": "range",
      "id": "modal_button_size",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 16,
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "range",
      "id": "modal_button_size_mobile",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 16,
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "range",
      "id": "modal_button_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 8,
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "range",
      "id": "modal_button_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 1,
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "range",
      "id": "modal_button_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 16,
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "select",
      "id": "modal_button_align",
      "label": "Alignment",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ],
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "select",
      "id": "modal_button_align_mobile",
      "label": "Alignment - mobile",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ],
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "header",
      "content": "Slide colors"
    },
    {
      "type": "color",
      "label": "Background",
      "id": "card_bg_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "card_border_color",
      "default": "#121212",
      "visible_if": "{{ section.settings.card_border_thickness >= 1 }}"
    },
    {
      "type": "color",
      "label": "Overlay",
      "id": "video_overlay_color",
      "default": "#121212",
      "visible_if": "{{ section.settings.video_overlay >= 0.1 }}"
    },
    {
      "type": "color",
      "label": "Shadow",
      "id": "card_shadow_color",
      "default": "#121212",
      "visible_if": "{{ section.settings.card_shadow }}"
    },
    {
      "type": "header",
      "content": "Product colors"
    },
    {
      "type": "color",
      "label": "Title",
      "id": "title_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Price",
      "id": "price_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Image border",
      "id": "image_border_color",
      "default": "#121212",
      "visible_if": "{{ section.settings.image_border_thickness >= 1 }}"
    },
    {
      "type": "header",
      "content": "Button colors"
    },
    {
      "type": "color",
      "label": "Text",
      "id": "button_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Text hover",
      "id": "button_hover_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Background",
      "id": "button_bg_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Background hover",
      "id": "button_bg_hover_color",
      "default": "#121212"
    },
    {
      "type": "header",
      "content": "Arrow button colors"
    },
    {
      "type": "color",
      "label": "Icon",
      "id": "arrow_icon_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Background",
      "id": "arrow_bg_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "arrow_border_color",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Variants colors"
    },
    {
      "type": "color",
      "label": "Variant option",
      "id": "option_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Variant price",
      "id": "variants_price_color",
      "default": "#121212"
    },
    {
      "type": "header",
      "content": "Modal colors"
    },
    {
      "type": "color",
      "label": "Heading",
      "id": "modal_heading_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Text",
      "id": "modal_text_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Video border",
      "id": "modal_video_border_color",
      "default": "#121212",
      "visible_if": "{{ section.settings.modal_video_border_thickness >= 1 }}"
    },
    {
      "type": "color",
      "label": "Background",
      "id": "modal_content_bg_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "modal_border_color",
      "default": "#121212",
      "visible_if": "{{ section.settings.modal_border_thickness >= 1 }}"
    },
    {
      "type": "header",
      "content": "Modal close button colors"
    },
    {
      "type": "color",
      "label": "Icon",
      "id": "close_icon_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Background",
      "id": "close_bg_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "close_border_color",
      "default": "#121212",
      "visible_if": "{{ section.settings.close_border_thickness >= 1 }}"
    },
    {
      "type": "header",
      "content": "Modal navigation arrows colors"
    },
    {
      "type": "color",
      "label": "Icon",
      "id": "buttons_icon_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Background",
      "id": "buttons_bg_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "buttons_border_color",
      "default": "#121212",
      "visible_if": "{{ section.settings.buttons_border_thickness >= 1 }}"
    },
    {
      "type": "header",
      "content": "Modal product colors",
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "color",
      "label": "Title",
      "id": "modal_title_color",
      "default": "#121212",
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "color",
      "label": "Price",
      "id": "modal_price_color",
      "default": "#121212",
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "color",
      "label": "Image border",
      "id": "modal_image_border_color",
      "default": "#121212",
      "visible_if": "{{ section.settings.use_modal_product and section.settings.modal_image_border_thickness >= 1 }}"
    },
    {
      "type": "header",
      "content": "Modal button colors",
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "color",
      "label": "Text",
      "id": "modal_button_color",
      "default": "#FFFFFF",
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "color",
      "label": "Text hover",
      "id": "modal_button_hover_color",
      "default": "#121212",
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "color",
      "label": "Background",
      "id": "modal_button_bg_color",
      "default": "#121212",
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "color",
      "label": "Background hover",
      "id": "modal_button_bg_hover_color",
      "default": "#FFFFFF",
      "visible_if": "{{ section.settings.use_modal_product }}"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "modal_button_border_color",
      "default": "#121212",
      "visible_if": "{{ section.settings.use_modal_product and section.settings.modal_button_border_thickness >= 1 }}"
    },
    {
      "type": "color",
      "label": "Border hover",
      "id": "modal_button_border_hover_color",
      "default": "#121212",
      "visible_if": "{{ section.settings.use_modal_product and section.settings.modal_button_border_thickness >= 1 }}"
    },
    {
      "type": "header",
      "content": "Section colors"
    },
    {
      "type": "color",
      "label": "Heading",
      "id": "heading_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Section background gradient",
      "info": "Remove gradient to replace with solid colors"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#121212"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Sides",
      "default": 5
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Sides - mobile",
      "default": 1.5
    },
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": false
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 800,
      "max": 2000,
      "step": 100,
      "unit": "px",
      "label": "Section content width",
      "default": 1400,
      "visible_if": "{{ section.settings.full_width == false }}"
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load media for speed optimisation",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Video",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "Video from Shopify"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "label": "Video embed from URL",
          "accept": ["youtube", "vimeo"],
          "info": "Youtube or Vimeo. Shows when no Shopify-hosted video is selected."
        },
        {
          "type": "checkbox",
          "id": "autoplay",
          "label": "Use autoplay",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "poster",
          "label": "Thumbnail image for Shopify-hosted video",
          "info": "Use when autoplay is turned off to remove blurry image",
          "visible_if": "{{ block.settings.autoplay == false }}"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "checkbox",
          "id": "use_variants",
          "label": "Use variants",
          "default": true
        },
        {
          "type": "richtext",
          "id": "modal_heading",
          "label": "Modal heading",
          "default": "<h4>Modal heading</h4>"
        },
        {
          "type": "richtext",
          "id": "modal_text",
          "label": "Modal text",
          "default": "<p>Modal text</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SS - Shoppable video",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
